<h4>Comments</h4>
<div id="comment-box-<%= @question.id %>">
  <% @question.comments.each do |comment| %>
    <%= comment.content %> by <%= comment.user.email%>
  <% end %>
</div>

<%= render 'form' %>
